:root {
  --page-bg-one: #1f8670;
  --page-bg-two: #468fae;
  --holder-bg-one: hsla(167, 62%, 32%, 0.571);
  --holder-bg-two: rgba(70, 143, 174, 0.66);
  --reference: rgb(133, 0, 167);
  --reference-hover: rgb(103, 0, 129);
  --white: #ffffff;
}
/* Work After Root, Root has the necessary colors */
